# Date - 05-01-2024

In [5]:
## Practice arrays - https://github.com/codebasics/data-structures-algorithms-python/blob/master/data_structures/2_Arrays/2_arrays_exercise.md

In [1]:
expense_list = [
    ["January", 2200],
    ["February", 2350],
    ["March", 2600],
    ["April", 2130],
    ["May", 2190]
]

In [3]:
## 1. In Feb, how many dollars you spent extra compare to January??

jan_spent = expense_list[0][1]
feb_spent = expense_list[1][1]

money_spent_extra = feb_spent - jan_spent

print(money_spent_extra)

150

In [6]:
## 2. Find out your total expense in first quarter (first three months) of the year.

jan_spent = expense_list[0][1]
feb_spent = expense_list[1][1]
mar_spent = expense_list[2][1]

total_expense = jan_spent + feb_spent + mar_spent

print(total_expense)

7150

In [7]:
## 3. Find out if you spent exactly 2000 dollars in any month

for item in expense_list:
    if item[1] == 2000:
        print(item[0])
    else:
        print("no match found")

no match found
no match found
no match found
no match found
no match found

In [9]:
## 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

expense_list.append(["June", 1980])

In [12]:
## 5. You returned an item that you bought in a month of April and
## got a refund of 200$. Make a correction to your monthly expense list
## based on this

correct_amount = expense_list[3][1] - 200

expense_list[3][1] = correct_amount

print(expense_list)

[['January', 2200], ['February', 2350], ['March', 2600], ['April', 1930], ['May', 2190], ['June', 1980]]

In [35]:
heros=['spider man','thor','hulk','iron man','captain america']

In [36]:
## 1. Length of the list

len(heros)

5

In [37]:
## 2. Add 'black panther' at the end of this list

heros.append('black panther')

In [38]:
## 3. You realize that you need to add 'black panther' after 'hulk',
##   so remove it from the list first and then add it after 'hulk'

heros.remove('black panther')

heros.insert(3, 'black panther')

In [39]:
## 4. Now you don't like thor and hulk because they get angry easily :)
##   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
##   Do that with one line of code.

# heros.remove("thor")
# heros.remove("hulk")

# heros.insert(1, "doctor strange")


heros[1:3]=['doctor strange']

In [40]:
## 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

dir(list)

heros.sort()

print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [4]:
## Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

user_input = input('enter number ')

odd_numbers = []

for item in range(0, int(user_input)):
    if item %2 == 1:
        odd_numbers.append(item)


print(odd_numbers)

enter number  12

[1, 3, 5, 7, 9, 11]